<!DOCTYPE html>
<html>

<head>
  <base target="_top">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Use a templated HTML printing scriptlet to import common stylesheet -->
  <?!= HtmlService.createHtmlOutputFromFile('Stylesheet').getContent(); ?>
</head>

<body>
  <div class="container">
    <main>
    <form id="frmBasicInfo" name="frmBasicInfo">
      <div class="row">
        <div class="col">
          <div class="mb-3">
            <label for="userName" class="form-label">Name <font color="red">*</font></label>
            <input type="text" class="form-control" id="userName" name="userName" placeholder="Full Name" required>
          </div>
          <div class="mb-3">
            <label for="userEmail" class="form-label">Email address <font color="red">*</font></label>
            <input type="email" class="form-control" id="userEmail" name="userEmail" placeholder="name@example.com"  required>
          </div>
          <div class="mb-3">
            <select class="form-select" id="userCity" name="userCity" name="userCity" aria-label="Floating label select example">
            <label for="userCity">Works with selects</label>
            <option value="BLR">City</option>
            <option value="PUNE">One</option>
            <option value="CH">Two</option>
            <option value="DL">Three</option>
          </select>
          </div>
          <div class="mb-3">
            <label for="userComments" class="form-label">Comments</label>
            <textarea class="form-control" id="userComments" name="userComments" rows="3"></textarea>
          </div>
          <div class="mb-3">
            <input type="submit" class="btn btn-primary" value="Submit">
          </div>
        </div>
      </div>
      
      </form>
    </main>
    <footer class="text-muted py-5">
      <div class="container">
        <p class="float-end mb-1">
          <a href="<?!=APPURL?>?pageName=Index" target="_top"><span class="material-icons">home</span></a>

        </p>
      </div>
    </footer>
  </div>
  <!-- Use a templated HTML printing scriptlet to import JavaScript. -->
  <?!= HtmlService.createHtmlOutputFromFile('JavaScript').getContent(); ?>
  <script>
    $(function() {
      console.log("Forms.")
      google.script.run
      .withSuccessHandler(function(cityList) {
      // Respond to success conditions here.
       displayUserCities(cityList);
      })
      .withFailureHandler(function(msg) {
      alert(msg)
      })
      .getCityList();
    });
function displayUserCities(cityList){
    try{
    var locHtml='<option value="Select">Select</option>';
      for(var i=0;i<cityList.length;i++){
         locHtml+='<option value="'+cityList[i][0]+'">'+cityList[i][0]+'</option>';
       }
    $("#userCity").empty().html(locHtml);
    }catch(e){
    console.log(e)
    }
    }
  //save form response 
  $('#frmBasicInfo').submit(function () {
  var formValues = document.getElementById("frmBasicInfo");
   google.script.run.withSuccessHandler(function(response){
         if(response){
           alert(response)
         }else{
            alert("Error to load Data...");
         }
        
          }).withFailureHandler(function(err){
            
            alert(err);
          }).saveFormResponse(formValues);
          
  return false; // it will stop page redirecting
  })
  </script>
</body>

</html>