<!DOCTYPE html>
<html>

<head>
  <base target="_top">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Use a templated HTML printing scriptlet to import common stylesheet -->
  <?!= HtmlService.createHtmlOutputFromFile('Stylesheet').getContent(); ?>
</head>

<body>
  <div class="container-fluid text-center">
    <main id="mainGrid">
      
    </main>
    <footer class="text-muted py-5">
      <div class="container">
        <p class="float-end mb-1">
          <a href="<?!=APPURL?>?pageName=Index" target="_top"><span class="material-icons">home</span></a>
        </p>
      </div>
    </footer>
  </div>
  <!-- Use a templated HTML printing scriptlet to import JavaScript. -->
  <?!= HtmlService.createHtmlOutputFromFile('JavaScript').getContent(); ?>
  <script>
    $(function() {
      google.script.run
       .withSuccessHandler(function(contents) {
            // Respond to success conditions here.
            displayGridData(contents);
          })
       .withFailureHandler(function(msg) {
            alert(msg)
          })
       .getGridData();
    });

function displayGridData(contents){
  var htmlStr="";
  if(contents){
    for(let i=0;i<contents.length;i++){
      let row=contents[i];
      htmlStr+='<div class="row">'
      console.log(row)
       for(let j=0;j<row.length;j++){
          htmlStr+='<div class="col">'+row[j]+"</div>";
       }
       htmlStr+="</div>";
    }
    $("#mainGrid").append(htmlStr);
  }else{
    $("#mainGrid").append("<h1>Data is missing</h1>")
  }

}
  </script>
</body>

</html>