<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js" integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous"></script>
<script>
  /**
   * Run initializations on web app load.
   */
  $(function() {
    console.log("JS..")
  //   // Call the server here to retrieve any information needed to build the page.
  //   google.script.run
  //      .withSuccessHandler(function(contents) {
  //           // Respond to success conditions here.
  //           updateDisplay(contents);
  //         })
  //      .withFailureHandler(function(msg) {
  //           // Respond to failure conditions here.
  //           $('#main-heading').text(msg);
  //           $('#main-heading').addClass("error");
  //           $('#error-message').show();
  //         })
  //      .getFolderContents(folderId);
  });
  
</script>
