<!DOCTYPE html>
<html>
  <head>
    <base target="_top">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Use a templated HTML printing scriptlet to import common stylesheet -->
    <?!= HtmlService.createHtmlOutputFromFile('Stylesheet').getContent(); ?>
  </head>
  <body>
<div class="container-fluid text-center">
  <main>
  <div class="row">
    <div class="table-responsive">
        <table class="table" id="empTable">
        </table>
    </div>
  </div>
</main>
<footer class="text-muted py-5">
  <div class="container">
    <p class="float-end mb-1">
       <a href="<?!=APPURL?>?pageName=Index" target="_top"><span class="material-icons">home</span></a>
       
    </p>
  </div>
</footer>
</div>
    <!-- Use a templated HTML printing scriptlet to import JavaScript. -->
    <?!= HtmlService.createHtmlOutputFromFile('JavaScript').getContent(); ?>
    <script>
    $(function() {
      console.log("Tables..")
      google.script.run
       .withSuccessHandler(function(contents) {
            // Respond to success conditions here.
            displayTableData(contents);
          })
       .withFailureHandler(function(msg) {
            alert(msg)
          })
       .getTableData();
    });

function displayTableData(contents){
  var htmlStr="";thead="<thead><tr>"
  if(contents){
    for(let i=0;i<contents.length;i++){
      var row=contents[i];
      //thead
      if(i==0){
          for(let h=0;h<row.length;h++){
              thead+='<th>'+row[h]+'</th>';
          }
          htmlStr=thead+'</tr></thead>'
      }else{
        //generte rows 
        htmlStr+='<tr>';
        var cell=""
        console.log(row)
        for(let j=0;j<row.length;j++){
                cell+='<td>'+row[j]+'</td>'
            }
        htmlStr+=cell+'</tr>'
      }
    }
    $("#empTable").append(htmlStr);
  }else{
    $("#empTable").append("<h1>Data is missing</h1>")
  }
}
</script>
  </body>
</html>
